<style type="text/css">
body,
html {
    height: 100%;
    background-color: #f1f1f1;
    font-family: Lato !important;
}

.formContainer {

    text-align: center;
}

.userLanding {
    background: url("https://wallpapercave.com/wp/NNo5yub.jpg") no-repeat fixed center;
}

#signup .form-control {
    border-radius: 0px;
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    padding: .575rem .75rem;
    font-size: 14px;
}

#signup .form-control:focus {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
    border: 1px solid grey;
}

#signup h1 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 30px;
}

#signup .btn-primary {
    background-color: #f58220;
    border-color: #f58220;
    display: block;
    margin: 0 auto;
    letter-spacing: 0.6px;
}

#signup .form-check {
    margin-top: 4%;
}

#signup .invalid-feedback {
    font-size: 12px;
    margin-top: 0;
}

#signup .form-check-label {
    font-size: 14px;
}

.signupBtn {
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

.loginLink {
    font-size: 13px;
    text-align: center;
    padding-top: 15px;
}

.indexSignup {
    background-color: #f58220;
    color: #ffffff;
    border-color: #f58220;
    border-radius: 2.7px;
    font-family: Lato;
    margin-right: 3%;
}

.indexSignup:hover,
.indexSignup:focus,
.indexSignup:active {
    background-color: transparent !important;
    color: #f58220 !important;
    border: 1px solid #f58220 !important;
    border-radius: 2.7px !important;
    box-shadow: none !important;
}

.indexLogin {


    border-radius: 2.7px;
    background-color: transparent;
    font-family: Lato;
    border: 1px solid #f58220;
    color: #f58220;
}

.indexLogin:hover {

    border-radius: 2.7px !important;
    background-color: #f58220 !important;
    font-family: Lato !important;
    border: 1px solid #f58220 !important;
    color: #ffffff !important;
    box-shadow: none !important;
}

.indexLogin:active,
.indexLogin:focus {
    box-shadow: none;
}



/* .mainRow{
      background: url("./NNo5yub.jpg") no-repeat fixed center;
    }*/

#tagline {
    margin-bottom: 5%;
}

#tagline * {
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    border-right: 10px solid white;
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    font-size: 2.5rem;
}

#searchError {
    font-size: 13px;
    color: red;
    margin-top: 1%;
}

#tagline h3 {

    overflow: hidden;
    -webkit-animation: header-small 4s steps(30),
    caret 1s step-end 2s;
    -moz-animation: header-small 4s steps(30),
    caret 1s step-end 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}

#tagline h3:nth-child(2) {

    visibility: hidden;
    border-right: 10px solid #000000;
    -webkit-animation: header-sub 4s steps(30),
    caret 1s infinite;
    -webkit-animation-delay: 3s;
    -moz-animation: header-sub 4s steps(30),
    caret 1s infinite;
    -moz-animation-delay: 4s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes header-small {
    from {
        width: 0;
        visibility: visible;
    }
    to {
        width: 100%;
        visibility: visible;
        border: none;
    }
}

@-moz-keyframes header-small {
    from {
        width: 0;
        visibility: visible;
    }
    to {
        width: 100%;
        visibility: visible;
        border-right: 0px;
    }
}


@-webkit-keyframes header-sub {
    from {
        width: 0;
        visibility: visible;
    }
    to {
        width: 100%;
        visibility: visible;
    }
}

@-moz-keyframes header-sub {
    from {
        width: 0;
        visibility: visible;
    }
    to {
        width: 100%;
        visibility: visible;
    }
}

@-webkit-keyframes caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #ffffff
    }
}

@-moz-keyframes caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #ffffff
    }
}

.userPhoto {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background-color: #ffffff;
}
</style>
<div class="container-fluid h-100 userLanding">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-flex bd-highlight mb-3" style="padding-top: 1%">
                <div class="p-2 bd-highlight" style="cursor:pointer;" ui-sref="home">
                    <div class="userPhoto"></div>
                </div>
                <div class="p-2 bd-highlight" style="color: #ffffff;cursor: pointer;" ui-sref="home">
                    <h6 style="font-size: 14px;margin-bottom: .1rem" id="userInfo"></h6>
                    <p style="font-size: 12px;" id="userEmail"></p>
                </div>
                <div class="ml-auto p-2 bd-highlight">
                    <button type="button" class="btn btn-primary indexSignup" ui-sref="history">History</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center mainRow">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="col-xs-10 offset-xs-1 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4 ">
                <div style="margin-top: 50%; text-align: center;">
                    <button type="button" class="btn btn-primary indexSignup" ui-sref="weather">Get Location</button>
                    <button type="button" class="btn btn-primary indexLogin" data-toggle="modal" data-target="#exampleModal">Add City</button>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form>
                                    <div class="form-group" style="margin-bottom: 0;">
                                        <label for="recipient-name" class="col-form-label" style="text-align: left !important;">Enter city name</label>
                                        <input type="text" class="form-control" id="recipient-name" ng-model="searchCity">
                                        <h6 style="display: none;margin-bottom: 0;" id="searchError">Enter valid city name</h6>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="searchBtn" ui-sref="weatherSearch({searchText:searchCity})">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
(function() {

    var input = document.getElementById("recipient-name");
    input.addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13 && input.length !== 0 && input !== null && input !== " ") {
            document.getElementById("searchBtn").click();
        }
    });

})();
</script>